- if resource.present? and resource.errors.any?
  - message_text = error_message(resource) if resource.class.name == 'User'
  - message_text = expense_error_message(resource) if resource.class.name == 'Expense'
  
  .modal-backdrop#modal-backdrop
  = render partial: "shared/modal_confirm",
           locals: { message_text: message_text,
                     button_text: t("buttons.confirm"),
                     button_id: "confirm_button" }

- elsif params[:logout] != 'true'

  - if flash[:alert] == t('devise.failure.unauthenticated')
    .modal-backdrop#modal-backdrop
    = render partial: "shared/modal_confirm",
              locals: { message_text: t("devise.failure.unauthenticated"),
                        button_text: t("buttons.confirm"),
                        button_id: 'confirm_button' }

  - if flash[:alert] == t('devise.failure.invalid', authentication_keys: 'Email')
    .modal-backdrop#modal-backdrop
    = render partial: "shared/modal_confirm",
              locals: { message_text: t("errors.forms.user_sign_in.invalid_credentials"),
                        button_text: t("buttons.confirm"),
                        button_id: 'confirm_button' }