.modal-backdrop#modal-backdrop{ class: 'hidden' }
  .modal-classify#modal-classify{ class: 'hidden' }
    = form_with url: expenses_path, method: :get, local: true, class: "classify-form" do |f|

      .container-form