* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.screen-title {
  width: 100%;
  text-align: start;
  font-size: 20px;
}

.default-text {
  margin-top: 0;
  text-align: center;
  font-weight: 400;
}

.message-text {
  margin-top: 0;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

/* button {
  text-align: center;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
} */

.confirmation-button {
  background-color: rgb(49, 196, 93);
}

.no-button {
  background-color: rgb(236, 108, 108);
}

.vertical_divider {
  width: 1px;
  height: 50px;
  background: rgb(197, 197, 197);
  margin: 0 20px;
  border-radius: 4px;
}

.top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 0px 0px 0px;
}

.user-button {
  background-color: rgb(52, 123, 189);
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button,
.search-button,
.back-button {
  background-color: #fff;
  color: #000;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  background-color: rgb(197, 197, 197);;
}

.filter-button img,
.search-button img,
.back-button img {
  width: 20px;
  height: 20px;
}

.user-image img,
.user-button img {
  width: 30px;
  height: 30px;
}

.menu-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.menu-section {
  background-color: rgb(218, 218, 218);
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 50px;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}

.invoice-images {
  border: 2px dotted #8f8f8f;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.invoice-images img {
  width: 140px;
}
